/**index css**/
.welcome{
	padding: 75px;
	background-color: #fff;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
}
.intro-container, .middle-container, .ending-container{
	display: flex;
	margin: 50px;
	padding: 25px;
	min-height: 75vh;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
	background-color: #fff;
}

.background, .programmer, .artistic  {
	padding: 0px 30px;
	font-size: 25px;
	background-color: #fff;
}
.background h1, .programmer h1, .artistic h1{
	text-align: center;
}
.intro, .picture, .picart{
	background-size: 100%;
	width: 100%;
}

.intro {
	background-image: url("../img/kunlepic.jpg");
	flex: 1;
	background-repeat: no-repeat;
}
.picture{
	background-image: url(../img/DesktopSetup.jpg);
	background-repeat: no-repeat;
	flex: 1;
}
.picart{
	background-image: url(../img/Caragift.png);
	flex: 1;
	background-repeat: no-repeat;
}

.background{
	width: 50%;
}
.programmer{
	width: 50%;
	text-align: right;
}

.artistic{
	width: 50%;
}



/* Turn off parallax scrolling for tablets and mobiles */
@media only screen and (max-width: 1024px) {
	.intro-container, .middle-container, .ending-container{
		min-height: 100vh;
		max-width: 100%;
		display: grid;
	}
	
	.background, .programmer, .artistic {
		width: 100%;
		padding: 0px 20px;
		font-size: 20px;
		text-align: center;
	}
	.welcome{
		padding: 20px;
		text-align: center;
	}
	.welcome h1{
		font-size: 20px;
	}
	
}
@media only screen and (max-width: 649px) {
	.intro-container, .middle-container, .ending-container{
		min-height: 100vh;
		height: 350px;
		overflow: hidden;
		display: grid;
		margin: 25px;
	}
	.background, .programmer, .artistic {
		width: 100%;
		padding: 0px 20px;
		text-align: center;
		height: 100%;
		font-size: 17px;
	}
	.welcome{
		padding: 20px;
		text-align: center;
	}
	.welcome h1{
		font-size: 20px;
	}
}
