.projectcontainer{
    max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}
.gallery{
    display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}
.gallery-item{
    background-color: #fff;
    flex: 1 0 24rem;
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
    text-align: center;
    display: inline;
}
.gallery-item img {
    display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-item img:hover{
    transform: scale(1.15);
}
.gallery-item i {
    font-size: medium;
}